<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Bienvenue sur tandeem!</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
        }

        .email-container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #e0e0e0;
        }

        .header {
            background-color: #f8f8f8;
            padding: 10px;
            text-align: center;
        }

        .content {
            padding: 20px;
        }

        .footer {
            text-align: center;
            margin-top: 20px;
        }

        .m-auto {
            margin: 0 auto;
        }
    </style>
</head>
<body>
<div class="email-container">
    <div class="header">
        <h1>Votre compte tandeem</h1>
        <h3>Réinitialiser le mot de passe</h3>
    </div>
    <div class="content">
        <p>Hello <%= name %> 👋</p>
        <p>Pour réinitialiser votre mot de passe:</p>
        <ul>
            <li>
                <a class="m-auto" href="<%= hostname %>/reset-password?token=<%= token %>">
                    Cliquez ici 🔗
                </a>
            </li>
            <li>
                <div>
                    Ou copiez et collez ce lien dans votre navigateur:
                </div>
                <pre><%= hostname %>/reset-password?token=<%= token %></pre>
            </li>
        </ul>
        <p>Le lien expirera le <strong><%= expiresAt %></strong>.</p>
        <p>Si vous n'avez pas demandé cette réinitialisation, veuillez ignorer cet e-mail.</p>
    </div>
    <div class="footer">
        <p>Si vous avez des questions, n'hésitez pas à
            <a href="mailto:support@tandeem.com">
                Contacter notre équipe de support.
            </a>
        </p>
        <p><%= new Date().getFullYear() %> &copy; tandeem. Tous droits réservés.</p>
    </div>
</div>
</body>
</html>